{% extends 'base.html' %}
{% load static %}
{% load query_transform %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="d-flex justify-content-start">
    <div class="card p-2" style="width: 20%;">
        <h2 class="text-center">Filters</h2>
        <hr>
        <form method="get">
            <div class="form-group">
                <select class="form-select" name="category" aria-label="Default select example">
                    <option>Select a category...</option>
                    {% for category in categories %}
                    <option value="{{category.id}}">{{category.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mt-4 d-flex justify-content-center align-items-center gap-3 flex-column">
                {% for size in sizes %}
                <input type="radio" class="btn-check w-100" name="size" value="{{size}}" id="{{size}}"
                    autocomplete="off">
                <label class="btn btn-outline-dark w-100" for="{{size}}">{{size}}</label>
                {% endfor %}
            </div>
            <div class="form-group mt-3 d-flex justify-content-center align-items-center flex-column gap-2">
                <div class="">
                    <label for="minprice">Minimum price: </label>
                    <input class="form-control" type="number" name="minprice" id="minprice" placeholder="Min price"
                        step="0.01">
                </div>
                <div class="">
                    <label for="maxprice">Maximum price: </label>
                    <input class="form-control" type="number" name="maxprice" id="maxprice" placeholder="Max price"
                        step="0.01">
                </div>
                <input type="checkbox" class="btn-check w-100" name="promotion" id="promotion" autocomplete="off">
                <label class="btn btn-outline-success w-100" for="promotion">Promotion</label>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-2">filter</button>
        </form>
        <a type="submit" href="{% url 'home-page' %}" class="btn btn-outline-danger w-100 mt-2">clear</a>
    </div>
    <div style="width: 100%;">
        <div class="d-flex gap-3 justify-content-center flex-wrap flex-shrink">
            {% if object_list %}
            {% for product in object_list %}
            <div class="card" style="width: 18rem">
                <img src="{{product.image.url}}" style="height: 20rem;" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{product.title}} -{% if product.promotion %}
                        {{product.get_price_after_promotion}}${% else %}{{product.price}}${% endif %}</h5>
                    <p class="card-text fs-6">{{product.description}}</p>
                    <a href="#" class="btn btn-primary w-100">Checkout</a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger" role="alert">
                No product found <a href="{% url 'home-page' %}" class="alert-link">clear filters</a>. Give it a click
                if you want to click filters.
            </div>
            {% endif %}
        </div>

        <nav aria-label="" class="mt-3">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
                {% endif %}

                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of
                        {{ page_obj.paginator.num_pages}}</a></li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="?{% query_transform page=page_obj.next_page_number category=request.GET.category size=request.GET.size minprice=request.GET.minprice maxprice=request.GET.maxprice promotion=request.GET.promotion %}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

</div>
{% endblock %}